.section {
    
}

.section--hero {
    background: $green;
}

.section--services {

    .container {
        background-color: $white;
        padding-top: 8rem;
        padding-bottom: 8rem;
        position: relative;

        @media screen and (min-width: 400px) {
            @include box-shadow(-5px, 5px, 15px, -5px);
        
            top: -60px;
        }
    }
}