.section {
    
}

.section--hero {
    background: $green;
}

.section--services {

    .container {
        @include box-shadow(-5px, 5px, 15px, -5px);
    
        background-color: $white;
        position: relative;
        top: -60px;
        padding: 8rem 0;
    }
}